* {
  margin: 0px;
}

body {
  align-content: center;
}

.navbar {
  top: 0px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navbar-brand {
  width: 50%;
}

.nav-item {
  margin-right: 10px;
}

.nav-item:hover ~ .nav-item {
  color: red;
}

.container3 {
  max-width: 1325px;
  /* background-color: brown; */
  margin: 10px;
  position: relative;
  width: 100%;
}

.container3 img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.container3 .btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(225, 20, 20);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 45%;
  height: 50px;
  width: 150px;
}

.container3 .btn:hover {
  /* background-color: red; */
  height: 60px;
  width: 170px;
  font-size: 20px;
}

.promo {
  top: 40%;
  left: 10%;
  position: absolute;
  color: rgb(249, 249, 17, 0.7);
  font-size: 2.5cm;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300s;
}

.container2 {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.importance {
  width: 70%;
  height: 10cm;
  /* background-color: aqua; */
}

.courses {
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

#m1 {
  background-color: rgb(66, 66, 146);
}

#m2 {
  background-color: blue;
}

#m3 {
  background-color: red;
}

.matter {
  width: 100%;
  height: 33%;
  color: white;
  font-size: 24px;
  padding-left: 50px;
  padding-top: 20px;
  margin: 2px;
  border: solid rgb(0, 0, 0) 5px;
}

.importance div h1 {
  margin-left: 150px;
  padding: 5mm;
  font-size: 48px;
  color: rgb(14, 14, 43);
}

.importance div p {
  margin-left: 150px;
  padding: 5mm;
  font-size: 16px;
  color: rgb(14, 14, 43);
}

.dropdown-menu {
  display: none;
}

#navbarDropdown:focus ~ .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  background-color: rgb(231, 229, 229);
}

/* card title */
.card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  /* font-size: 17px; */
  background-color: RGBA(0, 0, 0, 0.44);
  font-weight: 400;
  width: 100%;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 1px #000;
  height: 60px;
}

.department h2 {
  width: 100%;
  font-size: 30px;
  height: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  color: #b42e37;
}

.container4 {
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.card {
  margin: 10px 50px;
}
